.button {
  display: flex;
  align-items: center;
}

.button-regular {
  height: 40px;
  padding: 0 32px;
  border-radius: 80px;
  border: 2px solid var(--White, #fff);
}

.button-regular:hover {
  border-width: 3px;
}

.button-big {
  height: 56px;
  padding: 0 48px;
  border-radius: 80px;
  border: 3px solid var(--contrast, #fde174);
}

.button-big:hover {
  border-width: 4px;
}

.button-newsletter {
  display: flex;
  height: 32px;
  padding: 0 24px;
  align-items: center;
  gap: 10px;
  border-radius: 80px;
  border: 1px solid var(--White, #fff);
}

.button-newsletter:hover {
  border-width: 2px;
}
