.font-button {
  font-family: "Creato Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  letter-spacing: -0.198px;
}

.font-button-big {
  font-family: "Creato Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 36px */
  letter-spacing: -0.264px;
}

.font-button-newsletter {
  font-family: "Creato Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.font-link-off {
  font-family: "Creato Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
}

.font-link-on {
  font-family: "Creato Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.font-link-off:hover {
  font-family: "Creato Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: underline;
  text-transform: capitalize;
}

.font-text {
  font-family: "Creato Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  letter-spacing: -0.198px;
}

.font-copyright {
  font-family: "Creato Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.154px;
}

.font-newsletter-title {
  font-family: "Creato Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
