.shop-background {
  height: 100vh;
  position: absolute;
}

.shop {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  padding: 0 2%;
  gap: 12%;
}

.shop-mockup {
  height: 600px;
  rotate: 10deg;
}

.shop-info {
  display: flex;
  width: 45svw;
  flex-direction: column;
  align-items: flex-start;
  gap: 8vh;
}

.shop-logo {
  width: 450.532px;
  height: 144px;
}

.shop-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.shop-hide {
  display: none;
}
